


.lines-bg-child {
 align-self: stretch;
 position: relative;
 background-color: #2c2c2c;
 width: 1px;
}
.lines-bg {
 position: absolute;
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1004px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.light {
 position: absolute;
 bottom: -808px;
 left: calc(50% - 554px);
 border-radius: 1000px;
 background-color: #fac660;
 filter: blur(500px);
 width: 1108px;
 height: 1108px;
 opacity: 0.2;
}
.the-ai-powered-platform {
 position: absolute;
 bottom: 576px;
 left: calc(50% - 585px);
 font-size: 100px;
 letter-spacing: 0.02em;
 line-height: 130px;
 font-family: "Odor Mean Chey";
 color: #fff;
 display: inline-block;
 width: 970px;
}
.buy-now {
 position: relative;
 line-height: 24px;
}
.button {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
}
.btns,
.button,
.button1,
.button2,
.button3 {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: flex-start;
}
.button1 {
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 color: #fff;
}
.btns,
.button2,
.button3 {
 position: absolute;
}
.btns {
 bottom: 950px;
 left: calc(50% - 192px);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 width: 600px;
 height: 127px;
 gap: 60px;
 font-size: 16px;
}
.button2,
.button3 {
 top: 505px;
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #fac660;
 overflow: hidden;
 padding: 10px 30px;
}
.button2 {
 left: 735px;
 box-sizing: border-box;
 height: 44px;
}
.button3 {
 left: 532px;
}
.hero {
 top: 100px;
 left: 0;
 background-color: #1e272e;
 width: 1440px;
 height: 1004px;
 color: #1e272e;
}
.button4,
.hero,
.play-icon {
 position: absolute;
 overflow: hidden;
}
.button4 {
 top: 39px;
 left: 1130px;
 border-radius: 32px;
 border: 2px solid #d2dae2;
 display: flex;
 flex-direction: row;
 padding: 10px 30px;
 align-items: flex-start;
 justify-content: flex-start;
 font-size: 16px;
 color: #fff;
}
.play-icon {
 top: 256px;
 left: 541px;
 border-radius: 100px;
 width: 88px;
 height: 88px;
}
.convert-man-power-into-automat-wrapper {
 position: absolute;
 top: 551px;
 left: 923px;
 display: flex;
 flex-direction: row;
 padding: 10px;
 align-items: center;
 justify-content: center;
}
.video {
 position: absolute;
 top: 852px;
 left: 135px;
 border-radius: 32px;
 width: 1170px;
 height: 600px;
 overflow: hidden;
 background-image: url(./d1.png);
 
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
 text-align: center;
 filter: blur(4px);
  -webkit-filter: blur(4px);

 font-size: 16px;
 color: #fff;
 font-family: Italiana;
}
.efficient-growth-starts,
.presaleai-enables-automating {
 position: relative;
 line-height: 64px;
 display: inline-block;
 width: 670px;
}
.presaleai-enables-automating {
 line-height: 40px;
 font-weight: 300;
 width: 770px;
 height: 200px;
 flex-shrink: 0;
}
.icons-long-arrow-right {
 position: relative;
 width: 20px;
 height: 20px;
 overflow: hidden;
 flex-shrink: 0;
}
.buy-now5 {
 position: relative;
 text-decoration: underline;
 line-height: 24px;
}
.button5,
.description {
 display: flex;
 flex-direction: row;
}
