


.lines-bg-child {
 align-self: stretch;
 position: relative;
 background-color: #2c2c2c;
 width: 1px;
}
.lines-bg {
 position: absolute;
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1004px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.light {
 position: absolute;
 bottom: -808px;
 left: calc(50% - 554px);
 border-radius: 1000px;
 background-color: #fac660;
 filter: blur(500px);
 width: 1108px;
 height: 1108px;
 opacity: 0.2;
}
.the-ai-powered-platform {
 position: absolute;
 bottom: 576px;
 left: calc(50% - 585px);
 font-size: 100px;
 letter-spacing: 0.02em;
 line-height: 130px;
 font-family: "Odor Mean Chey";
 color: #fff;
 display: inline-block;
 width: 970px;
}
.buy-now {
 position: relative;
 line-height: 24px;
}
.button {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
}
.btns,
.button,
.button1,
.button2,
.button3 {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: flex-start;
}
.button1 {
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 color: #fff;
}
.btns,
.button2,
.button3 {
 position: absolute;
}
.btns {
 bottom: 950px;
 left: calc(50% - 192px);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 width: 600px;
 height: 127px;
 gap: 60px;
 font-size: 16px;
}
.button2,
.button3 {
 top: 505px;
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #fac660;
 overflow: hidden;
 padding: 10px 30px;
}
.button2 {
 left: 735px;
 box-sizing: border-box;
 height: 44px;
}
.button3 {
 left: 532px;
}
.hero {
 top: 100px;
 left: 0;
 background-color: #1e272e;
 width: 1440px;
 height: 1004px;
 color: #1e272e;
}
.button4,
.hero,
.play-icon {
 position: absolute;
 overflow: hidden;
}
.button4 {
 top: 39px;
 left: 1130px;
 border-radius: 32px;
 border: 2px solid #d2dae2;
 display: flex;
 flex-direction: row;
 padding: 10px 30px;
 align-items: flex-start;
 justify-content: flex-start;
 font-size: 16px;
 color: #fff;
}
.play-icon {
 top: 256px;
 left: 541px;
 border-radius: 100px;
 width: 88px;
 height: 88px;
}
.convert-man-power-into-automat-wrapper {
 position: absolute;
 top: 551px;
 left: 923px;
 display: flex;
 flex-direction: row;
 padding: 10px;
 align-items: center;
 justify-content: center;
}
.video {
 position: absolute;
 top: 852px;
 left: 135px;
 border-radius: 32px;
 width: 1170px;
 height: 600px;
 overflow: hidden;
 background-image: url(./d1.png);
 
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
 text-align: center;
 filter: blur(4px);
  -webkit-filter: blur(4px);

 font-size: 16px;
 color: #fff;
 font-family: Italiana;
}
.efficient-growth-starts,
.presaleai-enables-automating {
 position: relative;
 line-height: 64px;
 display: inline-block;
 width: 670px;
}
.presaleai-enables-automating {
 line-height: 40px;
 font-weight: 300;
 width: 770px;
 height: 200px;
 flex-shrink: 0;
}
.icons-long-arrow-right {
 position: relative;
 width: 20px;
 height: 20px;
 overflow: hidden;
 flex-shrink: 0;
}
.buy-now5 {
 position: relative;
 text-decoration: underline;
 line-height: 24px;
}
.button5,
.description {
 display: flex;
 flex-direction: row;
}
.button5 {
 border-radius: 32px;
 overflow: hidden;
 align-items: center;
 justify-content: flex-start;
 gap: 10px;
 font-size: 16px;
}
.description {
 width: 1169px;
 align-items: flex-end;
 justify-content: space-between;
 font-size: 24px;
 font-family: Inter;
}
.headline {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 30px;
}
.data-parsing-and,
.frame-child {
 align-self: stretch;
 position: relative;
}
.frame-child {
 background-color: #1e272e;
 height: 1px;
}
.data-parsing-and {
 line-height: 32px;
 font-weight: 300;
}
.rectangle-parent {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 60px;
}
.bom-auto-generation {
 margin: 0;
}
.about,
.lines-bg1,
.points {
 display: flex;
 align-items: flex-start;
}
.points {
 width: 1169px;
 flex-direction: row;
 justify-content: flex-start;
 gap: 60px;
 font-size: 16px;
 font-family: Inter;
}
.about,
.lines-bg1 {
 position: absolute;
}
.about {
 top: 1503px;
 left: 171px;
 overflow: hidden;
 flex-direction: column;
 justify-content: flex-start;
 gap: 60px;
 font-size: 48px;
 font-family: Italiana;
}
.lines-bg1 {
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1681px;
 flex-direction: row;
 justify-content: space-between;
}
.continuous-rewarding-system {
 position: absolute;
 top: 120px;
 left: 135px;
 font-size: 48px;
 line-height: 64px;
 display: inline-block;
 width: 789px;
}
.img-icon4
{
 position: absolute;
 top: 300px;
 left: 899px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 background-image: url(./d2.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}

.img-icon4{  position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 top: 39px;
 left: 0;
 margin-left: 120px;
 object-fit: cover;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 background-image: url(./d2.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
position: absolute;
 border-radius: 32px;
 width: 370px;
 height: 520px;
 overflow: hidden;
}

.image-icon{  position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 top: 39px;
 left: 0;
 margin-left: 120px;
 object-fit: cover;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 background-image: url(./d2.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
position: absolute;
 border-radius: 32px;
 width: 370px;
 height: 520px;
 overflow: hidden;
}
.img2 {
 position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 filter: blur(4px);
  -webkit-filter: blur(4px);

 text-align: center;
 background-image: url(./d1.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}
.weve-synthesized-the {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
}
.button6,
.txt {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
}
.button6 {
 border-radius: 32px;
 border: 2px solid #fac660;
 overflow: hidden;
 flex-direction: row;
 padding: 10px 30px;
 text-align: left;
}
.txt {
 position: absolute;
 top: 1141px;
 left: 135px;
 flex-direction: column;
 gap: 60px;
 font-family: Inter;
}
.border,
.image-icon {
 position: absolute;
 border-radius: 32px;
 width: 370px;
 height: 520px;
 overflow: hidden;
 
}
.image-icon {
 top: 39px;
 left: 0;
 object-fit: cover;
 
}
.border {
 top: 69px;
 left: 30px;
 border: 6px solid #dfe6e9;
 box-sizing: border-box;
}
.to-automate-the {
 position: absolute;
 top: 0;
 left: 89px;
 line-height: 24px;
}
.img1 { background-image: url(./store-4156934_1920.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
 border-radius: 20px;
 position: relative;
 width: 400px;
 height: 589px;
}
.creating-efficiencies-for,
.presalesai-is-designed {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
 height: 160px;
 flex-shrink: 0;
}
.presalesai-is-designed {
 height: 96px;
}
.button7,
.txt1 {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
}
.button7 {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #fac660;
 overflow: hidden;
 flex-direction: row;
 padding: 10px 30px;
 text-align: left;
 color: #1e272e;
}
.txt1 {
 flex-direction: column;
 gap: 60px;
 text-align: justify;
 font-family: Inter;
}
.info-2 {
 position: absolute;
 top: 432px;
 left: 135px;
 width: 1170px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 text-align: center;
}
.experience {
 position: absolute;
 top: 2135px;
 left: 0;
 background-color: #1e272e;
 width: 1440px;
 height: 1681px;
 overflow: hidden;
 text-align: justify;
 font-size: 16px;
 color: #fff;
 font-family: Italiana;
}
.copy-your-stunning,
.copy-your-stunning1,
.copy-your-stunning2,
.copy-your-stunning3 {
 position: absolute;
 top: 206.19px;
 left: 62.24px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-150.48deg);
 transform-origin: 0 0;
}
.copy-your-stunning1,
.copy-your-stunning2,
.copy-your-stunning3 {
 top: 198.87px;
 left: 49.51px;
 transform: rotate(-142.29deg);
}
.copy-your-stunning2,
.copy-your-stunning3 {
 top: 187.74px;
 left: 35.66px;
 transform: rotate(-133.96deg);
}
.copy-your-stunning3 {
 top: 176.38px;
 left: 25.17px;
 transform: rotate(-127.08deg);
}
.copy-your-stunning4,
.copy-your-stunning5,
.copy-your-stunning6,
.copy-your-stunning7 {
 position: absolute;
 top: 168.36px;
 left: 19.24px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-122.26deg);
 transform-origin: 0 0;
}
.copy-your-stunning5,
.copy-your-stunning6,
.copy-your-stunning7 {
 top: 160.63px;
 left: 14.36px;
 transform: rotate(-116.34deg);
}
.copy-your-stunning6,
.copy-your-stunning7 {
 top: 147.66px;
 left: 8.2px;
 transform: rotate(-109.71deg);
}
.copy-your-stunning7 {
 top: 136.81px;
 left: 4.38px;
 transform: rotate(-102.98deg);
}
.copy-your-stunning10,
.copy-your-stunning11,
.copy-your-stunning8,
.copy-your-stunning9 {
 position: absolute;
 top: 121.72px;
 left: 1.15px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-95.08deg);
 transform-origin: 0 0;
}
.copy-your-stunning10,
.copy-your-stunning11,
.copy-your-stunning9 {
 top: 105.61px;
 left: 0.02px;
 transform: rotate(-86.9deg);
}
.copy-your-stunning10,
.copy-your-stunning11 {
 top: 91.53px;
 left: 1.02px;
 transform: rotate(-80.96deg);
}
.copy-your-stunning11 {
 top: 82.24px;
 left: 2.48px;
 transform: rotate(-74.84deg);
}
.copy-your-stunning12,
.copy-your-stunning13,
.copy-your-stunning14,
.copy-your-stunning15 {
 position: absolute;
 top: 68.24px;
 left: 6.41px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-67.07deg);
 transform-origin: 0 0;
}
.copy-your-stunning13,
.copy-your-stunning14,
.copy-your-stunning15 {
 top: 55.28px;
 left: 12.1px;
 transform: rotate(-61.33deg);
}
.copy-your-stunning14,
.copy-your-stunning15 {
 top: 46.66px;
 left: 16.75px;
 transform: rotate(-54.6deg);
}
.copy-your-stunning15 {
 top: 33.19px;
 left: 26.51px;
 transform: rotate(-45.83deg);
}
.copy-your-stunning16,
.copy-your-stunning17,
.copy-your-stunning18,
.copy-your-stunning19 {
 position: absolute;
 top: 21.73px;
 left: 38.02px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-39.58deg);
 transform-origin: 0 0;
}
.copy-your-stunning17,
.copy-your-stunning18,
.copy-your-stunning19 {
 top: 16.8px;
 left: 44px;
 transform: rotate(-35.61deg);
}
.copy-your-stunning18,
.copy-your-stunning19 {
 top: 12.02px;
 left: 50.45px;
 transform: rotate(-29.94deg);
}
.copy-your-stunning19 {
 top: 4.55px;
 left: 63.67px;
 transform: rotate(-22.28deg);
}
.div {
 position: absolute;
 height: calc(100% - 2.81px);
 width: calc(100% - 140.18px);
 top: 0;
 right: 140.18px;
 bottom: 2.81px;
 left: 0;
}
.copy-your-stunning20,
.copy-your-stunning21,
.copy-your-stunning22,
.copy-your-stunning23 {
 position: absolute;
 top: 0;
 left: 21.63px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(29.52deg);
 transform-origin: 0 0;
}
.copy-your-stunning21,
.copy-your-stunning22,
.copy-your-stunning23 {
 top: 7.33px;
 left: 34.37px;
 transform: rotate(37.71deg);
}
.copy-your-stunning22,
.copy-your-stunning23 {
 top: 18.46px;
 left: 48.22px;
 transform: rotate(46.04deg);
}
.copy-your-stunning23 {
 top: 29.81px;
 left: 58.71px;
 transform: rotate(52.92deg);
}
.copy-your-stunning24,
.copy-your-stunning25,
.copy-your-stunning26,
.copy-your-stunning27 {
 position: absolute;
 top: 37.84px;
 left: 64.64px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(57.74deg);
 transform-origin: 0 0;
}
.copy-your-stunning25,
.copy-your-stunning26,
.copy-your-stunning27 {
 top: 45.56px;
 left: 69.52px;
 transform: rotate(63.66deg);
}
.copy-your-stunning26,
.copy-your-stunning27 {
 top: 58.54px;
 left: 75.68px;
 transform: rotate(70.29deg);
}
.copy-your-stunning27 {
 top: 69.38px;
 left: 79.5px;
 transform: rotate(77.02deg);
}
.copy-your-stunning28,
.copy-your-stunning29,
.copy-your-stunning30,
.copy-your-stunning31 {
 position: absolute;
 top: 84.47px;
 left: 82.73px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(84.92deg);
 transform-origin: 0 0;
}
.copy-your-stunning29,
.copy-your-stunning30,
.copy-your-stunning31 {
 top: 100.58px;
 left: 83.86px;
 transform: rotate(93.1deg);
}
.copy-your-stunning30,
.copy-your-stunning31 {
 top: 114.67px;
 left: 82.86px;
 transform: rotate(99.04deg);
}
.copy-your-stunning31 {
 top: 123.96px;
 left: 81.4px;
 transform: rotate(105.16deg);
}
.copy-your-stunning32,
.copy-your-stunning33,
.copy-your-stunning34,
.copy-your-stunning35 {
 position: absolute;
 top: 137.95px;
 left: 77.47px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(112.93deg);
 transform-origin: 0 0;
}
.copy-your-stunning33,
.copy-your-stunning34,
.copy-your-stunning35 {
 top: 150.91px;
 left: 71.78px;
 transform: rotate(118.67deg);
}
.copy-your-stunning34,
.copy-your-stunning35 {
 top: 159.54px;
 left: 67.12px;
 transform: rotate(125.4deg);
}
.copy-your-stunning35 {
 top: 173px;
 left: 57.37px;
 transform: rotate(134.17deg);
}
.copy-your-stunning36,
.copy-your-stunning37,
.copy-your-stunning38,
.copy-your-stunning39 {
 position: absolute;
 top: 184.47px;
 left: 45.86px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(140.42deg);
 transform-origin: 0 0;
}
.copy-your-stunning37,
.copy-your-stunning38,
.copy-your-stunning39 {
 top: 189.39px;
 left: 39.88px;
 transform: rotate(144.39deg);
}
.copy-your-stunning38,
.copy-your-stunning39 {
 top: 194.17px;
 left: 33.43px;
 transform: rotate(150.06deg);
}
.copy-your-stunning39 {
 top: 201.64px;
 left: 20.2px;
 transform: rotate(157.72deg);
}
.bottom,
.div1,
.top {
 position: absolute;
 height: calc(100% - 2.81px);
 width: calc(100% - 140.18px);
 top: 2.81px;
 right: 0;
 bottom: 0;
 left: 140.18px;
}
.bottom,
.top {
 height: calc(100% - 201px);
 width: calc(100% - 216.06px);
 top: 201px;
 right: 108.4px;
 left: 107.66px;
 border-radius: 10px;
 background-color: #202020;
}
.top {
 top: 3px;
 bottom: 198px;
}
.center,
.center1 {
 position: absolute;
 height: calc(100% - 56px);
 width: calc(100% - 56px);
 top: 28px;
 right: 28px;
 bottom: 28px;
 left: 28px;
 border-radius: 500px;
 border: 4px solid #202020;
 box-sizing: border-box;
}
.center {
 height: calc(100% - 121px);
 width: calc(100% - 136.06px);
 top: 60px;
 right: 68.4px;
 bottom: 61px;
 left: 67.66px;
 display: none;
}
.circled-text {
 position: absolute;
 top: 511.79px;
 left: 306.22px;
 width: 224.06px;
 height: 209px;
 transform: rotate(135deg);
 transform-origin: 0 0;
}
.ai-into-picture {
 position: absolute;
 top: 0;
 left: 213px;
 font-size: 16px;
 line-height: 24px;
 color: #fff;
}
.img-icon {
 top: 39px;
 left: 113px;
 border-radius: 32px;
 width: 370px;
 height: 520px;
 object-fit: cover;
}
.border1,
.img-icon,
.img21 {
 position: absolute;
 overflow: hidden;
}
.border1 {
 top: 66px;
 left: 140px;
 border-radius: 32px;
 border: 6px solid #dfe6e9;
 box-sizing: border-box;
 width: 376px;
 height: 526px;
}
.img21 {
 top: 3276px;
 left: 822px;
 width: 513px;
 height: 671px;
 text-align: center;
 font-size: 24px;
 font-family: Italiana;
}
.to-target-cutomers {
 position: relative;
 line-height: 64px;
 display: inline-block;
 width: 670px;
 flex-shrink: 0;
}
.icons-up-right-arrow {
 position: relative;
 width: 40px;
 height: 40px;
 overflow: hidden;
 flex-shrink: 0;
}
.btn-arrow,
.headline1 {
 display: flex;
 flex-direction: row;
}
.btn-arrow {
 border-radius: 24px;
 border: 4px solid #2c2c2c;
 padding: 30px;
 align-items: flex-start;
 justify-content: flex-start;
}
.headline1 {
 width: 1170px;
 align-items: flex-end;
 justify-content: space-between;
}
.news {
 position: absolute;
 top: 3926px;
 left: 125px;
 overflow: hidden;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 font-size: 48px;
 font-family: Italiana;
}
.footline-child {
 position: relative;
 background-color: #f2f2f2;
 width: 1170px;
 height: 1px;
}
.your-email-here {
 position: absolute;
 top: 0;
 left: 30px;
 line-height: 32px;
 font-weight: 300;
 display: flex;
 align-items: center;
 width: 173px;
 height: 72px;
}
.btn,
.sign-up {
 position: absolute;
 top: 0;
 width: 170px;
}
.sign-up {
 left: 0;
 line-height: 72px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.btn {
 left: 300px;
 border-radius: 0 56px 56px 0;
 background-color: #202020;
 height: 72px;
 text-align: center;
 font-size: 24px;
 color: #fff;
}
.form {
 position: relative;
 border-radius: 56px;
 border: 4px solid #202020;
 box-sizing: border-box;
 width: 470px;
 height: 72px;
 font-size: 16px;
 font-family: Inter;
}
.subscribe {
 width: 1170px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.logo-icon {
 position: absolute;
 top: 60px;
 left: 659px;
 width: 122px;
 height: 88px;
 display: none;
}
.who-we-are {
 color: #fac660;
}
.our-coffee,
.who-we-are {
 position: relative;
 line-height: 18px;
 text-transform: uppercase;
}
.navigation,
.row,
.row1 {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
 gap: 60px;
}
.navigation,
.row1 {
 justify-content: flex-end;
}
.navigation {
 position: absolute;
 top: 71px;
 left: 135px;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 30px;
}
.icons-social-medium {
 position: relative;
 width: 16px;
 height: 16px;
 overflow: hidden;
 flex-shrink: 0;
}
.div2,
.div3,
.row2,
.social {
 display: flex;
 flex-direction: row;
}
.div2 {
 border-radius: 56px;
 background-color: #fff;
 padding: 8px;
 align-items: flex-start;
 justify-content: flex-start;
}
.div3,
.row2,
.social {
 align-items: center;
}
.div3 {
 border-radius: 56px;
 background-color: #fff;
 padding: 8px;
 justify-content: center;
}
.row2,
.social {
 justify-content: flex-start;
 gap: 30px;
}
.social {
 position: absolute;
 top: 65px;
 left: 1149px;
 flex-direction: column;
 align-items: flex-end;
 gap: 15px;
}
.footer1 {
 position: relative;
 background-color: #1e272e;
 width: 1440px;
 height: 208px;
 overflow: hidden;
 flex-shrink: 0;
}
.text {
 position: absolute;
 top: 15px;
 left: 135px;
 width: 1170px;
 display: flex;
 flex-direction: row;
 align-items: flex-start;
 justify-content: space-between;
}
.sub-footer {
 position: relative;
 background-color: #dfe6e9;
 border-top: 1px solid #fff;
 box-sizing: border-box;
 width: 1440px;
 height: 54px;
 overflow: hidden;
 flex-shrink: 0;
 text-align: left;
 font-size: 16px;
 color: #1e272e;
}
.footer {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 text-align: center;
 font-size: 12px;
 color: #fff;
 font-family: Inter;
}
.footline,
.lines-bg2 {
 position: absolute;
 display: flex;
 align-items: center;
}
.footline {
 bottom: 0;
 left: calc(50% - 720px);
 overflow: hidden;
 flex-direction: column;
 justify-content: flex-start;
 gap: 60px;
 font-size: 48px;
 font-family: Italiana;
}
.lines-bg2 {
 top: 0;
 left: 135px;
 width: 1168px;
 height: 148px;
 flex-direction: row;
 justify-content: space-between;
}
.logo-icon1 {
 position: absolute;
 top: 30px;
 left: 659px;
 width: 122px;
 height: 88px;
 display: none;
}
.left {
 position: absolute;
 top: 65px;
 left: 135px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-start;
 gap: 60px;
}
.figma-demo,
.single-post {
 position: relative;
 line-height: 18px;
 text-transform: uppercase;
}
.single-post {
 display: none;
}
.figma-demo {
 text-decoration: underline;
}
.header,
.right {
 position: absolute;
}
.right {
 top: 65px;
 right: 135px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 gap: 60px;
}
.header {
 top: 0;
 left: -5px;
 background-color: #1e272e;
 width: 1445px;
 height: 148px;
 overflow: hidden;
 text-align: center;
 color: #dfe6e9;
}
.button8,
.frame-div,
.rectangle-parent2,
.rectangle-parent3 {
 position: absolute;
 display: flex;
 margin-left: 0px;
 align-items: flex-start;
 justify-content: flex-start;

}
.button8 {
 top: 52px;
 left: 955px;
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 flex-direction: row;
 padding: 10px 30px;
 font-size: 16px;
 color: #fff;
}
.frame-div,
.rectangle-parent2,
.rectangle-parent3 {
 top: 4134px;
 left: 60px;
 width: 386px;
 margin-left: 0px;
 height: 149px;
 flex-direction: column;
 gap: 60px;
}
.rectangle-parent2,
.rectangle-parent3 {
 top: 4135px;
 margin-left: 0px;
 left: 486px;
}
.rectangle-parent3 {
 left: 900px;
}
.ps-ai {
 position: relative;
 background-color: #d2dae2;
 width: 100%;
 height: 4979px;
 overflow: hidden;
 text-align: left;
 font-size: 20px;
 color: #202020;
 font-family: Inter;
}
