.lines-bg-child28 {
 align-self: stretch;
 position: relative;
 background-color: #2c2c2c;
 width: 1px;
}
.lines-bg6 {
 position: absolute;
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1004px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.light2 {
 position: absolute;
 bottom: -808px;
 left: calc(50% - 554px);
 border-radius: 1000px;
 background-color: #fac660;
 filter: blur(500px);
 width: 1108px;
 height: 1108px;
 opacity: 0.2;
}
.the-ai-powered-platform {
 position: absolute;
 bottom: 576px;
 left: calc(50% - 585px);
 font-size: 100px;
 letter-spacing: 0.02em;
 line-height: 130px;
 font-family: "Odor Mean Chey";
 color: #fff;
 display: inline-block;
 width: 970px;
}
.button16 {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #d2dae2;
 overflow: hidden;
 cursor: pointer;
 padding: 10px 30px;
}
.btns2,
.button16,
.button17,
.button18,
.button19 {
 display: flex;
 flex-direction: row;
 cursor: pointer;
 align-items: flex-start;
 justify-content: flex-start;
}
.button17 {
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 cursor: pointer;
 padding: 10px 30px;
 color: #fff;
}
.btns2,
.button18,
.button19 {
 position: absolute;
}
.btns2 {
 bottom: 950px;
 left: calc(50% - 192px);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 width: 600px;
 height: 127px;
 gap: 60px;
 font-size: 16px;
}
.button18,
.button19 {
 top: 505px;
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #030302;
 overflow: hidden;
 cursor: pointer;
 padding: 10px 30px;
}
.button18 {
 left: 735px;
 box-sizing: border-box;
 height: 44px;
}
.button19 {
 left: 532px;
}
.hero2 {
 top: 148px;
 left: 0;
 background-color: #1e272e;
 width: 1440px;
 height: 1004px;
 color: #1e272e;
}
.button20,
.hero2,
.play-icon {
 position: absolute;
 overflow: hidden;
}

.button20 {
 top: 39px;
 left: 1130px;
cursor: pointer;
 border-radius: 32px;
 border: 2px solid #d2dae2;
 display: flex;

 flex-direction: row;
 padding: 10px 30px;
 align-items: flex-start;
 justify-content: flex-start;
 font-size: 16px;
 color: #fff;
}
.play-icon {
 top: 256px;
 left: 541px;
 border-radius: 100px;
 width: 88px;
 height: 88px;
}
.convert-man-power {
 position: relative;
 cursor: pointer;
 line-height: 24px;
}
.convert-man-power-into-automat-wrapper {
 position: absolute;
 top: 551px;
 left: 923px;
 display: flex;
 flex-direction: row;
 padding: 10px;
 cursor: pointer;
 align-items: center;
 justify-content: center;
}
.video {
 position: absolute;
 top: 852px;
 left: 135px;
 border-radius: 32px;
 width: 1170px;
 height: 600px;
 overflow: hidden;
 background-image: url(./d1.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
 text-align: center;
 filter: blur(4px);
  -webkit-filter: blur(4px);
 font-size: 16px;
 color: #fff;
 font-family: Italiana;
}
.efficient-growth-starts,
.presaleai-enables-automating {
 position: relative;
 line-height: 64px;
 display: inline-block;
 width: 670px;
}
.presaleai-enables-automating {
 line-height: 40px;
 font-weight: 300;
 width: 770px;
 height: 200px;
 flex-shrink: 0;
}
.icons-long-arrow-right2 {
 position: relative;
 width: 20px;
 height: 20px;
 overflow: hidden;
 flex-shrink: 0;
}
.buy-now16 {
 position: relative;
 text-decoration: underline;
 line-height: 24px;
}
.button21,
.description {
 display: flex;
 flex-direction: row;
}
.button21 {
 border-radius: 32px;
 overflow: hidden;
 align-items: center;
 justify-content: flex-start;
 gap: 10px;
 font-size: 16px;
}
.description {
 width: 1169px;
 align-items: flex-end;
 justify-content: space-between;
 font-size: 24px;
 font-family: Inter;
}
.headline {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 30px;
}
.data-parsing-and,
.frame-child5 {
 align-self: stretch;
 position: relative;
}
.frame-child5 {
 background-color: #1e272e;
 height: 1px;
}
.data-parsing-and {
 line-height: 32px;
 font-weight: 300;
}
.rectangle-group {
 flex: 1;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 60px;
}
.bom-auto-generation {
 margin: 0;
}
.about2,
.lines-bg7,
.points {
 display: flex;
 align-items: flex-start;
}
.points {
 width: 1169px;
 flex-direction: row;
 justify-content: flex-start;
 gap: 60px;
 font-size: 16px;
 font-family: Inter;
}
.about2,
.lines-bg7 {
 position: absolute;
}
.about2 {
 top: 1503px;
 left: 171px;
 overflow: hidden;
 flex-direction: column;
 justify-content: flex-start;
 gap: 60px;
 font-size: 48px;
 font-family: Italiana;
}
.lines-bg7 {
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1681px;
 flex-direction: row;
 justify-content: space-between;
}
.continuous-rewarding-system {
 position: absolute;
 top: 120px;
 left: 135px;
 font-size: 48px;
 line-height: 64px;
 display: inline-block;
 width: 789px;
}
.img22 {
 position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
}
.weve-synthesized-the2 {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
}
.button22,
.txt2 {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
}
.button22 {
 border-radius: 32px;
 border: 2px solid #fac660;
 overflow: hidden;
 flex-direction: row;
 padding: 10px 30px;
 text-align: left;
}
.txt2 {
 position: absolute;
 top: 1141px;
 left: 135px;
 flex-direction: column;
 gap: 60px;
 font-family: Inter;
}
.border,

.image-icon {
 position: absolute;
 border-radius: 32px;
 width: 370px;
 height: 520px;
 overflow: hidden;
 background-image: url(./store-4156934_1920.png);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}
.image-icon {
 top: 39px;
 left: 0;
 object-fit: cover;
}
.border {
 top: 69px;
 left: 30px;
 border: 6px solid #dfe6e9;
 box-sizing: border-box;
}
.to-automate-the {
 position: absolute;
 top: 0;
 left: 89px;
 line-height: 24px;
}
.img1 {
 position: relative;
 width: 400px;
 height: 589px;
 
}
.creating-efficiencies-for,
.presalesai-is-designed {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
 height: 160px;
 flex-shrink: 0;
}
.presalesai-is-designed {
 height: 96px;
}
.button23,
.txt3 {
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
}
.button23 {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #fac660;
 overflow: hidden;
 flex-direction: row;
 padding: 10px 30px;
 text-align: left;
 color: #1e272e;
}
.txt3 {
 flex-direction: column;
 gap: 60px;
 text-align: justify;
 font-family: Inter;
}
.info-22 {
 position: absolute;
 top: 432px;
 left: 135px;
 width: 1170px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 text-align: center;
}
.experience2 {
 position: absolute;
 top: 2135px;
 left: 0;
 background-color: #1e272e;
 width: 1440px;
 height: 1681px;
 overflow: hidden;
 text-align: justify;
 font-size: 16px;
 color: #fff;
 font-family: Italiana;
}
.copy-your-stunning40,
.copy-your-stunning41,
.copy-your-stunning42,
.copy-your-stunning43 {
 position: absolute;
 top: 206.19px;
 left: 62.24px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-150.48deg);
 transform-origin: 0 0;
}
.copy-your-stunning41,
.copy-your-stunning42,
.copy-your-stunning43 {
 top: 198.87px;
 left: 49.51px;
 transform: rotate(-142.29deg);
}
.copy-your-stunning42,
.copy-your-stunning43 {
 top: 187.74px;
 left: 35.66px;
 transform: rotate(-133.96deg);
}
.copy-your-stunning43 {
 top: 176.38px;
 left: 25.17px;
 transform: rotate(-127.08deg);
}
.copy-your-stunning44,
.copy-your-stunning45,
.copy-your-stunning46,
.copy-your-stunning47 {
 position: absolute;
 top: 168.36px;
 left: 19.24px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-122.26deg);
 transform-origin: 0 0;
}
.copy-your-stunning45,
.copy-your-stunning46,
.copy-your-stunning47 {
 top: 160.63px;
 left: 14.36px;
 transform: rotate(-116.34deg);
}
.copy-your-stunning46,
.copy-your-stunning47 {
 top: 147.66px;
 left: 8.2px;
 transform: rotate(-109.71deg);
}
.copy-your-stunning47 {
 top: 136.81px;
 left: 4.38px;
 transform: rotate(-102.98deg);
}
.copy-your-stunning48,
.copy-your-stunning49,
.copy-your-stunning50,
.copy-your-stunning51 {
 position: absolute;
 top: 121.72px;
 left: 1.15px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-95.08deg);
 transform-origin: 0 0;
}
.copy-your-stunning49,
.copy-your-stunning50,
.copy-your-stunning51 {
 top: 105.61px;
 left: 0.02px;
 transform: rotate(-86.9deg);
}
.copy-your-stunning50,
.copy-your-stunning51 {
 top: 91.53px;
 left: 1.02px;
 transform: rotate(-80.96deg);
}
.copy-your-stunning51 {
 top: 82.24px;
 left: 2.48px;
 transform: rotate(-74.84deg);
}
.copy-your-stunning52,
.copy-your-stunning53,
.copy-your-stunning54,
.copy-your-stunning55 {
 position: absolute;
 top: 68.24px;
 left: 6.41px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-67.07deg);
 transform-origin: 0 0;
}
.copy-your-stunning53,
.copy-your-stunning54,
.copy-your-stunning55 {
 top: 55.28px;
 left: 12.1px;
 transform: rotate(-61.33deg);
}
.copy-your-stunning54,
.copy-your-stunning55 {
 top: 46.66px;
 left: 16.75px;
 transform: rotate(-54.6deg);
}
.copy-your-stunning55 {
 top: 33.19px;
 left: 26.51px;
 transform: rotate(-45.83deg);
}
.copy-your-stunning56,
.copy-your-stunning57,
.copy-your-stunning58,
.copy-your-stunning59 {
 position: absolute;
 top: 21.73px;
 left: 38.02px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(-39.58deg);
 transform-origin: 0 0;
}
.copy-your-stunning57,
.copy-your-stunning58,
.copy-your-stunning59 {
 top: 16.8px;
 left: 44px;
 transform: rotate(-35.61deg);
}
.copy-your-stunning58,
.copy-your-stunning59 {
 top: 12.02px;
 left: 50.45px;
 transform: rotate(-29.94deg);
}
.copy-your-stunning59 {
 top: 4.55px;
 left: 63.67px;
 transform: rotate(-22.28deg);
}
.div10 {
 position: absolute;
 height: calc(100% - 2.81px);
 width: calc(100% - 140.18px);
 top: 0;
 right: 140.18px;
 bottom: 2.81px;
 left: 0;
}
.copy-your-stunning60,
.copy-your-stunning61,
.copy-your-stunning62,
.copy-your-stunning63 {
 position: absolute;
 top: 0;
 left: 21.63px;
 letter-spacing: 0.03em;
 line-height: 24px;
 transform: rotate(29.52deg);
 transform-origin: 0 0;
}
.copy-your-stunning61,
.copy-your-stunning62,
.copy-your-stunning63 {
 top: 7.33px;
 left: 34.37px;
 transform: rotate(37.71deg);
}
