.lines-bg-child3 {
 align-self: stretch;
 position: relative;
 background-color: #2c2c2c;
 width: 1px;
}
.lines-bg1 {
 position: absolute;
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1004px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.light {
 position: absolute;
 bottom: -808px;
 left: calc(50% - 554px);
 border-radius: 1000px;
 background-color: #fac660;
 filter: blur(500px);
 width: 1108px;
 height: 1108px;
 opacity: 0.2;
}
.button {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 justify-content: flex-start;
}
.btns,
.button,
.button1,
.lines-bg2 {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
}
.button1 {
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 justify-content: flex-start;
 color: #fff;
}
.btns,
.lines-bg2 {
 position: absolute;
}
.btns {
 bottom: 950px;
 left: calc(50% - 192px);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 width: 600px;
 height: 127px;
 justify-content: flex-start;
 gap: 60px;
}
.lines-bg2 {
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1681px;
 justify-content: space-between;
}
.by-pablo-merchn {
 position: relative;
 line-height: 24px;
}
.img2 {
 position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 font-family: Italiana;
}
.weve-synthesized-the {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
}
.button2 {
 border-radius: 32px;
 border: 2px solid #fac660;
 overflow: hidden;
 display: flex;
 flex-direction: row;
 padding: 10px 30px;
 align-items: flex-start;
 justify-content: flex-start;
 text-align: left;
}
.info-2,
.txt {
 position: absolute;
 left: 135px;
}
.txt {
 top: 1141px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 60px;
 font-family: Inter;
}
.info-2 {
 top: 432px;
 width: 1170px;
}
.social-signup-child {
 position: absolute;
 top: 0;
 left: 675px;
 background: linear-gradient(
   180deg,
   rgba(45, 120, 255, 0.8),
   rgba(47, 170, 253, 0.8) 20.31%,
   rgba(25, 94, 165, 0.8) 50.52%,
   rgba(26, 147, 232, 0.8) 69.27%,
   rgba(13, 78, 183, 0.8)
 );
 filter: blur(20px);
 width: 45px;
 height: 900px;
}
.div1 {
 background: linear-gradient(#d2dae2, #d2dae2),
   linear-gradient(
     180deg,
     #dfe6e9,
     transparent 0.01%,
     rgba(0, 0, 0, 0.3) 96.88%
   );
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 opacity: 0.9;
}
.div1,
.social-signup-item,
.wrapper {
 position: absolute;
 top: 0;
 left: 0;
 width: 720px;
 height: 900px;
}
.wrapper {
 overflow: hidden;
}
.social-signup-item {
 background: linear-gradient(
   180deg,
   rgba(98, 98, 98, 0.79),
   rgba(255, 255, 255, 0),
   rgba(0, 0, 0, 0.25)
 );
 display: none;
}
.button-child,
.social-signup-inner {
 position: absolute;
 box-sizing: border-box;
}
.social-signup-inner {
 top: 185px;
 left: 146px;
 background-color: rgba(255, 255, 255, 0.2);
 border: 1px solid rgba(255, 255, 255, 0.5);
 width: 428px;
 height: 531px;
 display: none;
}
.button-child {
 height: 102.94%;
 width: 100.26%;
 top: -1.47%;
 right: -0.13%;
 bottom: -1.47%;
 left: -0.13%;
 border-radius: 15px;
 background-color: #1e272e;
 box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
 border: 1px solid #ccc;
}
.sign-up-with {
 position: absolute;
 top: 0;
 left: 0;
}
.sign-up-with-linkedln-wrapper {
 position: absolute;
 height: 52.94%;
 width: 34.38%;
 top: 23.53%;
 right: 27.08%;
 bottom: 23.53%;
 left: 38.54%;
}
.linkedin-icon {
 position: absolute;
 top: 2px;
 left: 104px;
 width: 30px;
 height: 30px;
 overflow: hidden;
}
