.lines-bg-child3 {
 align-self: stretch;
 position: relative;
 background-color: #2c2c2c;
 width: 1px;
}
.lines-bg1 {
 position: absolute;
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1004px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.light {
 position: absolute;
 bottom: -808px;
 left: calc(50% - 554px);
 border-radius: 1000px;
 background-color: #fac660;
 filter: blur(500px);
 width: 1108px;
 height: 1108px;
 opacity: 0.2;
}
.button {
 border-radius: 32px;
 background-color: #d2dae2;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 justify-content: flex-start;
}
.btns,
.button,
.button1,
.lines-bg2 {
 display: flex;
 flex-direction: row;
 align-items: flex-start;
}
.button1 {
 border-radius: 32px;
 border: 2px solid #d2dae2;
 overflow: hidden;
 padding: 10px 30px;
 justify-content: flex-start;
 color: #fff;
}
.btns,
.lines-bg2 {
 position: absolute;
}
.btns {
 bottom: 950px;
 left: calc(50% - 192px);
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 width: 600px;
 height: 127px;
 justify-content: flex-start;
 gap: 60px;
}
.lines-bg2 {
 top: 0;
 left: 135px;
 width: 1168px;
 height: 1681px;
 justify-content: space-between;
}
.by-pablo-merchn {
 position: relative;
 line-height: 24px;
}
.img2 {
 position: absolute;
 top: -126px;
 left: 899px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: flex-start;
 text-align: center;
 font-family: Italiana;
}
.weve-synthesized-the {
 position: relative;
 line-height: 32px;
 font-weight: 300;
 display: inline-block;
 width: 670px;
}
.button2 {
 border-radius: 32px;
 border: 2px solid #fac660;
 overflow: hidden;
 display: flex;
 flex-direction: row;
 padding: 10px 30px;
 align-items: flex-start;
 justify-content: flex-start;
 text-align: left;
}
.info-2,
.txt {
 position: absolute;
 left: 135px;
}
.txt {
 top: 1141px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start;
 gap: 60px;
 font-family: Inter;
}
.info-2 {
 top: 432px;
 width: 1170px;
}
.social-signup-child {
 position: absolute;
 top: 0;
 left: 675px;
 background: linear-gradient(
   180deg,
   rgba(45, 120, 255, 0.8),
   rgba(47, 170, 253, 0.8) 20.31%,
   rgba(25, 94, 165, 0.8) 50.52%,
   rgba(26, 147, 232, 0.8) 69.27%,
   rgba(13, 78, 183, 0.8)
 );
 filter: blur(20px);
 width: 45px;
 height: 900px;
}
.div1 {
 background: linear-gradient(#d2dae2, #d2dae2),
   linear-gradient(
     180deg,
     #dfe6e9,
     transparent 0.01%,
     rgba(0, 0, 0, 0.3) 96.88%
   );
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 opacity: 0.9;
}
.div1,
.social-signup-item,
.wrapper {
 position: absolute;
 top: 0;
 left: 0;
 width: 720px;
 height: 900px;
}
.wrapper {
 overflow: hidden;
}
.social-signup-item {
 background: linear-gradient(
   180deg,
   rgba(98, 98, 98, 0.79),
   rgba(255, 255, 255, 0),
   rgba(0, 0, 0, 0.25)
 );
 display: none;
}
.button-child,
.social-signup-inner {
 position: absolute;
 box-sizing: border-box;
}
.social-signup-inner {
 top: 185px;
 left: 146px;
 background-color: rgba(255, 255, 255, 0.2);
 border: 1px solid rgba(255, 255, 255, 0.5);
 width: 428px;
 height: 531px;
 display: none;
}
.button-child {
 height: 102.94%;
 width: 100.26%;
 top: -1.47%;
 right: -0.13%;
 bottom: -1.47%;
 left: -0.13%;
 border-radius: 15px;
 background-color: #1e272e;
 box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
 border: 1px solid #ccc;
}
.sign-up-with {
 position: absolute;
 top: 0;
 left: 0;
}
.sign-up-with-linkedln-wrapper {
 position: absolute;
 height: 52.94%;
 width: 34.38%;
 top: 23.53%;
 right: 27.08%;
 bottom: 23.53%;
 left: 38.54%;
}
.linkedin-icon {
 position: absolute;
 top: 2px;
 left: 104px;
 width: 30px;
 height: 30px;
 overflow: hidden;
}
.button3 {
 position: absolute;
 top: 0;
 left: 0;
 width: 384px;
 height: 34px;
}
.sign-up-with1,
.twitter-1-1 {
 position: absolute;
 top: 12.5%;
 left: 25.15%;
}
.twitter-1-1 {
 top: 0;
 left: 0;
 width: 24px;
 height: 24px;
 overflow: hidden;
}
.sign-up-with-twitter-parent {
 position: absolute;
 height: 70.59%;
 width: 42.45%;
 top: 14.71%;
 right: 29.69%;
 bottom: 14.71%;
 left: 27.86%;
}
.button4 {
 position: absolute;
 top: 69px;
 left: 0;
 border-radius: 12px;
 background-color: #1e272e;
 width: 384px;
 height: 34px;
}
.sign-up-with-facebook-wrapper {
 position: absolute;
 height: 52.94%;
 width: 35.16%;
 top: 23.53%;
 right: 26.3%;
 bottom: 23.53%;
 left: 38.54%;
}
.facebook-icon {
 position: absolute;
 top: 3px;
 left: 104px;
 width: 28px;
 height: 28px;
 overflow: hidden;
}
.button5 {
 position: absolute;
 top: 138px;
 left: 0;
 border-radius: 15px;
 width: 384px;
 height: 34px;
}
.social-buttons,
.social-signup {
 position: absolute;
 top: 663px;
 left: 168px;
 width: 384px;
 height: 172px;
}
.social-signup {
 top: 0;
 left: -1px;
 width: 720px;
 height: 900px;
 text-align: left;
 font-size: 15px;
 color: #d2dae2;
}
.button-child1 {
 position: absolute;
 height: 102.94%;
 width: 100.26%;
 top: -1.47%;
 right: -0.13%;
 bottom: -1.47%;
 left: -0.13%;
 border-radius: 15px;
 background-color: #d2dae2;
 box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
 border: 1px solid #ccc;
 box-sizing: border-box;
}
.click-me-wrapper {
 position: absolute;
 height: 52.94%;
 width: 13.54%;
 top: 23.53%;
 right: 43.23%;
 bottom: 23.53%;
 left: 43.23%;
}
.button6 {
 position: absolute;
 top: 709px;
 left: 168px;
 width: 384px;
 height: 34px;
 font-size: 15px;
 color: #1e272e;
}
.email-child {
 position: absolute;
 top: 16.5px;
 left: -0.5px;
 border-radius: 2px;
 background-color: #fff;
 box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
 border: 1px solid #d2dae2;
 box-sizing: border-box;
 width: 386px;
 height: 31px;
}
.email,
.email4 {
 position: absolute;
 top: 299px;
 left: 167px;
 width: 385px;
 height: 47px;
}
.email4 {
 top: 390px;
}
.email5,
.name {
 position: absolute;
 top: 0;
 left: 0;
}
.email5 {
 top: 201px;
 left: 167px;
 width: 385px;
 height: 47px;
 font-size: 16px;
}
.password-item {
 position: absolute;
 top: 16.5px;
 left: -0.5px;
 border-radius: 2px;
 background-color: #fff;
 box-shadow: 2px 4px 6px rgba(79, 79, 79, 0.15);
 border: 1px solid #dfe6e9;
 box-sizing: border-box;
 width: 386px;
 height: 31px;
}
.password3,
.password4 {
 position: absolute;
 top: 485px;
 left: 167px;
 width: 385px;
 height: 47px;
 color: #dfe6e9;
}
.password4 {
 top: 571px;
}
.creating-an-account {
 position: absolute;
 top: -7px;
 left: 17px;
 display: inline-block;
 width: 403px;
}
.frame-child3 {
 position: absolute;
 top: 4px;
 left: 0;
 background-color: #fffdfd;
 border: 1px solid #cacaca;
 box-sizing: border-box;
 width: 8px;
 height: 8px;
}
.creating-an-account-means-you-parent {
 position: absolute;
 top: 658px;
 left: 171px;
 width: 418px;
 height: 30px;
 font-size: 12px;
 color: #dfe6e9;
}
.register {
 position: absolute;
 top: 0;
 left: 0;
 letter-spacing: 0.15em;
}
.register-wrapper {
 position: absolute;
 top: 56px;
 left: 281px;
 width: 191px;
 height: 54px;
 font-size: 45px;
 font-family: "Akaya Telivigala";
}
.get-started-absolutely-free-de-wrapper {
 position: absolute;
 height: 3.33%;
 width: 45.28%;
 top: 13.33%;
 right: 25.83%;
 bottom: 83.33%;
 left: 28.89%;
 font-size: 25px;
}
.normal-sign-up-child,
.normal-sign-up-item {
 position: absolute;
 height: 22.45%;
 width: 27.84%;
 top: 77.56%;
 right: 0.08%;
 bottom: 0;
 left: 72.08%;
 max-width: 100%;
 overflow: hidden;
 max-height: 100%;
 display: none;
}
.normal-sign-up-item {
 height: 11.94%;
 width: 28.55%;
 top: 4.78%;
 right: 33.5%;
 bottom: 83.28%;
 left: 37.95%;
}
.normal-sign-up-child1,
.normal-sign-up-child2,
.normal-sign-up-inner {
 position: absolute;
 height: 16.33%;
 width: 19.6%;
 max-width: 100%;
 overflow: hidden;
 max-height: 100%;
}
.normal-sign-up-inner {
 top: 0;
 right: 3.32%;
 bottom: 83.67%;
 left: 77.08%;
 display: none;
}
.normal-sign-up-child1,
.normal-sign-up-child2 {
 top: 84.89%;
 right: 80.4%;
 bottom: -1.22%;
 left: 0;
}
.normal-sign-up-child2 {
 top: 0;
 right: -0.01%;
 bottom: 83.67%;
 left: 80.42%;
}
.normal-sign-up {
 position: absolute;
 top: 0;
 left: 719px;
 width: 720px;
 height: 900px;
 text-align: left;
 font-size: 14px;
 color: #d2dae2;
}
.demo-request {
 margin: 0;
 font-size: 32px;
}
.blank-line {
 margin: 0;
}
.maximize-forecast-accuracy-de {
 margin-bottom: 0;
}
.deploy-smarter-workstreams-and {
 margin: 0;
 padding-left: 32px;
}
.demo-request-elevate-container {
 position: absolute;
 top: 119px;
 left: 112px;
 letter-spacing: 0.15em;
 color: #1e272e;
 display: inline-block;
 width: 515px;
 font-size: 24px;
 font-family: Asap;
}
.experience,
.hero {
 background-color: #1e272e;
 width: 1440px;
 overflow: hidden;
}
.experience {
 position: absolute;
 top: 0;
 left: 0;
 border-radius: 54px;
 height: 1681px;
 text-align: justify;
 color: #fff;
 font-family: "Akaya Kanadaka";
}
.hero {
 position: relative;
 height: 1004px;
 text-align: left;
 font-size: 16px;
 color: #1e272e;
 font-family: Inter;
}
